.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1000;
}

.menu div{
    width: 30%;
}

.menu div button{
    font-size: 2.5em;
}

.menu div button:focus{
    outline: none;
    box-shadow: none;
}