.app{
    z-index: 0;
}

.text-main{
    width: 50%;
    text-align: left;
    font-size: 3.75em;
    line-height: 60px;
}

.contHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contTextMain{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 375px){
    .contHeader{
        display: initial;
    }
    .contTextMain{
        min-height: 100%;
        display: initial;
    }
    .text-main{
        width: 100%;
        text-align: center;
        font-size: 2em;
        line-height: 1em;
    }
}
