header{
    position: absolute;
    top: 0;
    left: 0;
}
.subHeader{
    border-bottom: solid 5px black;
}
.logo{
    letter-spacing: -4px;
}
.subHeader button{
    outline: none;
    box-shadow: none;
}

@media (max-width: 375px){
    header{
        position:   relative;
        top: 0;
        left: 0;
    }
}