.contLink{
    font-size: 2.5em;
}

.contLink > i{
    transform: rotate(-45deg);
}

.line{
    border-bottom: solid 5px black;
    color: black;
}

.disabled{
    color: #888888;
}

.cursor-pointer{
    cursor: pointer;
}

.bg-black{
    background: black;
}